/* ----- main view ----- */
.main-header .logo span.logo-mini img,
.main-sidebar .sidebar img{
    width: 100%;
}

.sidebar-collapse .main-header .logo span.logo-mini img{
    width: 50px;
    height: auto
}

.main-header .logo span.logo-lg img {
    height: 50px;
}

.main-sidebar .sidebar .img-menu img {
    width: 100%;
}

.main-sidebar, .left-side {
	z-index: 1025;
 }

.sidebar-collapse .main-sidebar .sidebar .img-menu img, 
.sidebar-open .main-sidebar .sidebar .img-menu img,{
    width: 50px;
}

/* ----- news feed view ----- */
.news-feed-detail {
    margin: 0 auto 20px;
    width: 100% !important;
    padding-left: 5px;
    padding-right: 5px;
}

.news-feed-detail .mT5 {
    margin-top: 0;
}

.news-feed-detail .comment-like-favourite {
    margin-top: 10px;
}

.post-wrap {
    display: inline;
    position: relative;
    height: 22px;
    background-color: #eef;
    float: left;
    margin: 1px 1px 1px 2px;
    padding: .5em .6em .3em;
    border: 1px solid #ddd;
    border-radius: .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}

.delete-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 4px 0;
    border-radius: 4px;
    height: 16px;
    width: 22px;
    overflow: hidden;
    display: none;
}

.delete-button a {
    color: white;
}

.post-wrap:hover .delete-button {
    display: inherit;
}

.button-delete {
    cursor: pointer;
    float: right;
    height: 20px;
    width: 20px;
    padding: 1px 0 1px 0;
    border-radius: 4px 4px 4px 4px;
    background-color: #eef;
    border: 0;
}

.button-delete i {
    margin: 0;
    padding: 0;
}

.tag-wrapper {
    float: left;
    width: 100%;

}

.tag-wrapper:hover {
    background: #eee;
}

.tag-select {
    padding: 0 2px 0 -1px;
    display: none;
    border-radius: 4px;
    color: #6e7e91;
    float: left;
    height: auto;
    margin: 2px 2px 2px 1px;
    position: relative;
}

.tag-select select {
    height: 20px;
}

.tag-plus {
    cursor: pointer;
    border-radius: 4px;
    color: #6e7e91;
    height: auto;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 3px;
    position: relative;
    float: left;
}

.tag-plus div:first-child {
    float: right;
}

.news-feed-detail .news-feeds-preview-detail {
    margin-bottom: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

.box .chat .news-feed-item-detail {
    position: relative;
    border-bottom: 1px solid #ddd;
    padding-top: 0;
    padding-bottom: 15px;
}

.box .chat .news-feed-item-detail > .co-likes {
    top: 0 !important;
}

.box .chat .news-feed-item-detail > img {
    margin: 0 2px;
}

.box .chat .news-feed-item-detail > .message {
    margin: 0 50px 0 50px
}

/* Custom CSS for newsfeeds lists */
@media(min-width:1200px){
.news-feeds-image{
     margin-left:0px
}
}
@media (min-width: 1200px){
.preview-content {
  padding-left: 10px!important;
}
}
.imgs img {
    width: 100%;
}
.comment-like-favourite{
    padding: 10px;
}
.rssnews-feeds .news-feeds-bottom .countusercmts {
   padding-top: 0px; 
}
.avatars-cmts img{
    max-height: 36px;
}
.mL5{
    margin-left: 5px;
}
#SearchTitle {
   width: 120px !important; 
}
.pagination {   
    padding-left: 1px;   
    margin: 20px 0 5px 0px;
}
.paging_sumary {
    text-align: center;
}
.paging_bootstrap {
    text-align: center;
}
.main-footer {   
    padding: 6px 6px 10px 6px;   
    font-size: 11px;
    text-align: center;
}
.button-group .submit {
    float: left;
    margin-right: 4px;
}

/* ----- News Comment List ----- */
.sp_news_comment_list_title {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0 10px 10px;
}

.sp_news_comment_item {
    padding: 0 10px 10px;
    border-bottom: 1px solid #ddd;
}

.sp_news_comment_content {
    margin-bottom: 10px;
}

.sp_news_comment_info {
    font-size: 13px;
}

.sp_news_comment_date {
    margin-left: 5px;
}

.sp_news_comment_nickname {
    margin-left: 2px;
}

.logo-mini {
	float: left;
	margin-left: -14px;
    margin-top: 5px;
}
.logo-mini img {
	height: 34px;
}
#scroller ul li, #scrollerol li {
    list-style: none;
}
#contentsSubNavi ul li, #contentsSubNavi li {
    list-style: none;
}
#scroller {
    height: 46px;
    overflow: hidden;
    background: white;
    /*background: url(../img/bg_contents_navi.png) repeat-x 0 bottom #f1f1f1;*/
	min-width: 400px;
	float:left;
	padding:0;
	margin-top: 0px;
}
/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 568px)
	and (-webkit-min-device-pixel-ratio: 2)
	and (orientation: landscape) {
	#scroller { 
		width: 100%;
	}
}

#scroller ul {
    display: inline-block;
    padding: 2px 2px 0px 2px;	
}
#scroller li {
    display: inline-block;	
}
#scroller li a.active {
    height: 40px;   
    background: #fff;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #323232;		
}
#scroller li:not(:first-child) {
    margin-left: 0px;
}
#scroller li {
    display: inline-block;
	float: left;
}
#scroller li a, #scroller li span {
    display: block;
    height: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    color: #323232;
    font-size: 13px;
    /*font-weight: bold;*/
    line-height: 40px;
}
#scroller_wapper {	
	z-index:1;	
	bottom:0; 
	left:0;
	width: 100%;	
	overflow:auto;		
}
.rss-menu {
	position: absolute;
    width: 100%;
    z-index: 1000;
    top: 96px;
    padding: 1px;
	display: none;
	border-top: 0px !important;
}
