.fl {
	float: left;
	clear: none;	
}
.fr {
	float: right;
	clear: none;	
}
.mt5 {
    margin-top: 5px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.form-table {
    width: 100%;
}
.checkbox_item {
    width: 20px;
}
.col-xs-120 {
    width: 98%;
    margin: 0 auto;
}
.col-xs-120 .form-group {
	width: 46%;
	float: left;
	margin-left: 36px;
}
.searchFormLabel {
    width: 100%;
}
#searchForm .pull-right {
    margin-right: 45px;
}
.ml5 {
    margin-left: 5px;
}
.mr8 {
    margin-right: 8px;
}
.mt8 {
    margin-top: 8px;
}
.mt10 {
    margin-top: 10px;
}
.mr10 {
    margin-right: 10px;
}
.paging_bootstrap {
    margin-top: -8px;
}
.pagination { 
    margin-top: 8px;
    margin-right: 2px;
	float: right;
}
.control-label {
    color: #f39c12;
}
.cls {	
    clear: both;
}
.form-body {	
    clear: both;
}
.button-group {
    margin-top: 22px;
}
.submit {
    margin-right: 5px;
    float: left;
}

.custom-combobox {
    position: relative;
    display: inline-block;
    display: block;
    width: 100%;
    height: 33px;	
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 0px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
    right: -2px;
}
.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    min-width: 100%;
    background: none;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 0px;
}
.ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 0px;
}
.form-control {
    height: 36px;
}
.Hidden
{
    display: None;
}
.Show
{
    display: block;
}
.input-required {
	color: #f56954;
	margin-left: 1px;
	font-size: 11px;
}
.td_textarea textarea {
	width: 99%;
	height: 80px;
	padding: 4px;
}
.td_select select {
	padding: 2px;
}
.td_input_text input {
	width: 99%;
	padding: 4px;
}
#dialog {
	
}

/* - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — 
     for capture
- - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — */
.form-box{
  margin: 40px auto 0 auto;
}
.form-box .header{
  padding: 10px;
  background-color: #e61874;
}

/* - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — 
    Skin Caputer
- - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — - - - — */
.bg-capture-red{
  background-color: #e61874!important;
  color           : #f9f9f9!important;  
}

.bg-capture{
  background-color: #122a88!important;
  color           : #f9f9f9!important;  
}
/* skin-capture navbar */
.skin-capture .navbar {
  background-color: #ffffff;
  border-bottom: 1px solid #eee;
}
.skin-capture .navbar .nav a {
  color: #444;
}
.skin-capture .navbar .nav > li > a:hover,
.skin-capture .navbar .nav > li > a:active,
.skin-capture .navbar .nav > li > a:focus,
.skin-capture .navbar .nav .open > a,
.skin-capture .navbar .nav .open > a:hover,
.skin-capture .navbar .nav .open > a:focus {
  background: #ffffff;
  color: #999999;
}
.skin-capture .navbar .navbar-right > .nav {
  margin-right: 10px;
}
.skin-capture .navbar .sidebar-toggle .icon-bar {
  background: #122a88;
}
.skin-capture .navbar .sidebar-toggle:hover .icon-bar {
  background: #999999 !important;
}
/* skin-capture logo */
.skin-capture .logo {
  background-color: #122a88;
  color: #f9f9f9;
}
.skin-capture .logo > a {
  color: #f9f9f9;
}
.skin-capture .logo:hover {
  background: #1232b3;
}
/* skin-capture content header */
.skin-capture .right-side > .content-header {
  background: transparent;
  box-shadow: none;
}
/* Skin-red user panel */
.skin-capture .user-panel > .image > img {
  border: 1px solid #1232b3;
}
.skin-capture .user-panel > .info,
.skin-capture .user-panel > .info > a {
  color: #eee;
}
/* skin-capture sidebar */
.skin-capture .sidebar {
  border-bottom: 1px solid #1232b3;
}
.skin-capture .sidebar > .sidebar-menu > li {
  border-top: 1px solid #122288;
  border-bottom: 0px solid #122288;
}
.skin-capture .sidebar > .sidebar-menu > li:first-of-type {
  border-top: 1px solid #122288;
}
.skin-capture .sidebar > .sidebar-menu > li:first-of-type > a {
  border-top: 0px solid #122288;
}
.skin-capture .sidebar > .sidebar-menu > li > a {
  margin-right: 1px;
}
.skin-capture .sidebar > .sidebar-menu > li > a:hover,
.skin-capture .sidebar > .sidebar-menu > li.active > a {
  color: #f6f6f6;
  background: #1232b3;
}
.skin-capture .sidebar > .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #1232b3;
}
.skin-capture .left-side {
  background: #122a88;
}
.skin-capture .sidebar a {
  color: #eee;
}
.skin-capture .sidebar a:hover {
  text-decoration: none;
}
.skin-capture .treeview-menu > li > a {
  color: #ccc;
}
.skin-capture .treeview-menu > li.active > a,
.skin-capture .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-capture .sidebar-form {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  border: 0px solid #555;
  margin: 10px 10px;
}
.skin-capture .sidebar-form input[type="text"],
.skin-capture .sidebar-form .btn {
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 0 solid rgba(255, 255, 255, 0.1);
  height: 35px;
  outline: none;
}
.skin-capture .sidebar-form input[type="text"] {
  color: #666;
  -webkit-border-top-left-radius: 2px !important;
  -webkit-border-top-right-radius: 0 !important;
  -webkit-border-bottom-right-radius: 0 !important;
  -webkit-border-bottom-left-radius: 2px !important;
  -moz-border-radius-topleft: 2px !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  -moz-border-radius-bottomleft: 2px !important;
  border-top-left-radius: 2px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 2px !important;
}
.skin-capture .sidebar-form input[type="text"]:focus,
.skin-capture .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #1232b3;
  border: 0;
}
.skin-capture .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left: 0;
}
.skin-capture .sidebar-form .btn {
  color: #999;
  -webkit-border-top-left-radius: 0 !important;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -webkit-border-bottom-left-radius: 0 !important;
  -moz-border-radius-topleft: 0 !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  -moz-border-radius-bottomleft: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 0 !important;
  border-left: 0;
}
.nomarlText
{
    font-weight:200 !important;
    cursor: pointer;
}
.box .chat .news-feed-item-detail>.message .comment {
    float: left;
}
.box .chat .news-feed-item-detail>.message .date {
	font-size: 12px;
	font-style: italic;
    margin-top: 5px;
    margin-bottom: -5px;
	clear: both;
	float: left;
}
.fa-likes-o {
	background-image: url(../img/clap_off_@3x.png);
}
.fa-likes {
	background-image: url(../img/clap_on_@3x.png);
}

.badge-custom {
    background-color: #777;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-size: 8px;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 3px 5px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.graph button {
    background: #428bca !important;
    border-color: #428bca !important;
    padding: 1px 4px !important;
}

/* Tag template */
.post-wrap {
    display: inline;
    position: relative;
    height: 22px;
    background-color: #eef;
    float: left;
    margin: 1px 1px 1px 2px;
    padding:.5em .6em .3em;
    border: 1px solid #ddd;
    border-radius: .4em;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;    
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}
.delete-button{
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 4px 0px;
    border-radius: 4px;
    height: 16px;
    width: 22px;
    overflow: hidden;
    display:none;
}
.delete-button a{
    color:white;
}
.post-wrap:hover .delete-button{
    display:inherit;
}
.button-delete {
	cursor: pointer;
	float: right;
	height: 20px;
	width: 20px;
	padding: 1px 0 1px 0;
	border-radius: 4px 4px 4px 4px;
	background-color: #eef;
	border: 0;
}
.button-delete i {
	margin: 0;
	padding: 0;
}

.tag-wrapper{
    float: left;
    width: 100%;
   
}
.tag-wrapper:hover {
    background: #eee;
} 

.tag-select{
    padding: 0 2px 0 2px;
    height: 20px;
    display: none;
    border-radius: 4px;
    color: #6e7e91;
    float: left;
    height: auto;
    margin: 2px 2px 2px 1px;
    padding-left: 1px;
    position: relative;
}
.tag-select select{
    height: 20px;
}

.tag-plus{
    cursor: pointer;
    border-radius: 4px;
    color: #6e7e91;
    height: auto;
    margin-top: 4px;
    margin-bottom: 2px;
    margin-right: 2px;
    padding-left: 1px;
    position: relative;
    float: right;
}
.tag-plus div:first-child {
  float: right;
  }
.crop-img {
    float: right;
    margin-right: 2px;
    margin-top: 3px;
}
.other-box {
    margin: 0px auto 0 auto;
}
.other-box {
    width: 100%;
}
.body-other {
    background: #fff;
}
.sidebar .sidebar-menu {
	margin-bottom: 30px;
}
.resendUrl {
    text-decoration: underline;
    margin-top: 8px;
}
.paging_sumary {
	float: right;
	display: inline-block;
	padding-right: 8px;
	margin-top: 15px;
}
#newsfeeds_import .error-message {
	display: none;
}
.bg-grey:hover {	
	color: #000;
}
.modal-dialog-custom
{
   z-index: 4999;
   margin-top: 200px;
}
.start_date,.finish_date{
  text-align: right;
}
#dialog .modal-dialog-custom
{
   z-index: 4999;
   margin-top: 0px !important;
}

#PageLoginForm .form-group .submit {
    width: 100%
}
.recruiterPolicy{
  width: 100%;
  margin: 60px auto 60px;
  padding: 0px 10px;
}
.recruiterPolicy .w610{ 
  width: 100%;
}
.recruiterPolicy p{ 
  margin: 0 !important; 
}
.ml10{
  margin-left: 10px;
}
.pl10{
  padding-left: 10px;
}
.pr20{
  padding-right: 20px
}
.btn.disabled {
    background: #D6D6D6;
    color: #838383;
    border-color: #D6D6D6;
}

.other-header {
    position: relative;
    background-color: #122A88;
    height: 80px;
}

.other-logo {
    position: absolute;
    top : -13px;
    left: -9px;
}

.other-logo img{
    width: 105px;
}

.other-logo-text {
    position: absolute;
    top : 33px;
    left: 66px;
}

.other-logo-text img{
    width: 112px;
}
.other-left-text {
    color: white;
    font-size: 17px;
    float: right;
    margin: 38px 10px 0 0;
    letter-spacing: 5px;
}
.other-body {
    font-size: 14px;
    text-align: left;
    line-height: 1.5em;
    min-height: 800px;
}
.other-body p {
    margin: 0 0 15px;
}
.other-body img {
    height: auto!important;
}
.other-title {
    font-size: 22px;
    color: #122A88;
    margin: 10px 10px;
    line-height: 1em;
}

.other-content {
    margin-top: 20px;
    padding: 0px 5px;
}

.other-footer {
    padding: 30px 0px 0px 0px;
    text-align: center;
    color: darkgray;
}

