<footer class="main-footer">
	<div class="pull-right hidden-xs">
	<!-- 	<b>Version</b> 2.0 -->
	</div>
	<strong>Copyright © Capture by <a href="http://oceanize.co.jp">TXCOM & Oceanize</a></strong>. All rights reserved. 
</footer>