<style type="text/css">
h2 {
    font-size: 20px;
    margin-top: 40px;
}
h3 {
    margin-top: 29px;
    margin-bottom: 16px;
    font-size: 21px;
    font-weight: normal;
}
p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
}
h4 {
    margin-top: 18px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: normal;
}
</style>
<section class="sec_inner">
    <h2>ユーザー利用規約</h2>


    <h3>第１条　はじめに</h3>
    <p>この利用規約（以下「本規約」といいます）は、株式会社オーシャナイズ（以下「当社といいます）が提供するサービス「Capture」及びそれに関連する一切のサービス（以下「本サービス」といいます）を、個人の方がユーザーとして利用する際の条件を定めています。<br />本サービスを利用するために、第５条で規定するユーザー登録が必要となり、ユーザー登録を行った時点でユーザーは、本規約の全ての記載内容について同意したとみなされます。<br />なお、本規約には、本サービスに関して当社がユーザー向けに定め、公開するその他一切の規約・規定等を含みます。</p>

    <h3>第２条　本規約の変更</h3>
    <p>当社は、当社の判断により、本規約をいつでも任意の理由で変更することができます。<br />変更後の本規約は、本サービス上での通知後にユーザーが本サービスを使用した時点で効力を生じます。<br />ユーザーが、本規約の変更の効力が生じた後に本サービスを利用した場合、ユーザーは変更後の本規約の全ての記載内容に同意したとみなされます。</p>

    <h3>第３条　個人情報の取扱い</h3>
    <p>当社は、個人情報を「プライバシーポリシー」に基づき、適切に取り扱います。</p>

    <h3>第４条　通信の秘密</h3>
    <p>当社は、電気通信事業法（昭和59年法律第86号）第4条に基づき、ユーザーの通信の秘密を守ります。<br />当社は、次の各号に掲げる場合には、当該各号に定める範囲内において前項の守秘義務を負いません。</p>
    <p>(1)刑事訴訟法（昭和23年法律第131号）又は犯罪捜査のための通信傍受に関する法律（平成11年法律第137号）の定めに基づく強制の処分又は裁判所の命令が行われた場合　当該処分又は裁判所の命令の定める範囲内</p>
    <p>(2)法令に基づく強制的な処分が行われた場合　当該処分又は命令の定める範囲内</p>
    <p>(3)特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律（平成13年法律第137号）第4条に基づく開示請求の要件が充足されたと当社が判断した場合　当該開示請求の範囲内</p>
    <p>(4)他人の生命、身体又は財産の保護のために必要があると当社が判断した場合　他人の生命、身体又は財産の保護のために必要な範囲内</p>

    <h3>第５条　ユーザー登録</h3>
    <p>本サービスにユーザー登録できるのは、満16歳以上の者に限ります。ただし、当社が別に認めたものを除きます。<br />本サービスの利用を希望する者は、本規約の内容に同意した上で、当社所定の方法により、ユーザー登録の申込を行うものとします。<br />本サービスへのユーザー登録をした者は、当社がユーザー登録の申込を承諾した時点で本サービスの利用が可能になります。<br />当社は、当社の定めるところにより、本サービスの機能やツールを、ユーザーの年齢や利用環境等の条件に応じて提供します。<br />当社は、ユーザーに対して新サービスの告知、広告配信、サービス運営上の事務連絡、その他情報の提供を行います。</p>

    <h3>第８条　ユーザー登録の申込の不承諾</h3>
    <p>当社は、次の各号のいずれかに該当する場合は、当社の判断によって、入会申込者の入会申込を承諾しないことがあります。<br />入会申込者が、前条第2項の方法によらずに入会の申込を行った場合<br />入会申込者が、過去に本規約又はその他の利用規約等に違反したことを理由として強制退会処分を受けた者である場合<br />その他当社が不適切と判断した場合
    </p>

    <h3>第９条　ユーザーの削除</h3>
    <p>
        当社は、ユーザーが次の各号に掲げるいずれかの行為を行った場合には、当社の判断によって、ユーザー情報の削除を行ない、本サービスの利用をお断りすることがあります。<br />(1)第7条第2項の方法によらずユーザー登録の申込を行ったことが明らかとなった場合<br />(2)ユーザー登録の申込みに際して、ユーザー登録申込者が真実に反する事項を貴社に申告した場合<br />(3)本規約又はその他の利用規約等に違反した場合<br />(4)その他当社が不適切と判断した場合
    </p>

    <h3>第１０条　登録メールアドレス及びパスワードの管理</h3>
    <p>ユーザーは、ユーザー登録時に、使用可能なメールアドレスを登録メールアドレスとして登録しなければならず、当該登録メールアドレスが自己の管理に属さなくなった場合、使用可能な別のメールアドレスに変更していただく必要があります。<br />
ユーザーは、自己の登録メールアドレス及びパスワードの不正利用の防止に努めるとともに、その管理について一切の責任を持ち、登録メールアドレスやパスワードが第三者に利用されたことによって生じた損害等について、当社は、当社に故意又は重過失がある場合を除き、いかなる責任も負いません。
    </p>

    <h3>第１１条　ユーザーの責任</h3>
    <p>
        ユーザーは、自己の責任において本サービスを利用するものとし、本サービスを利用してなされた一切の行為及びその結果について一切の責任を負うことになります。ユーザーの行為に起因して何らかの不利益、負担または損害を受けた場合、ユーザーは、当社に対し、かかる不利益、負担または損害を賠償していただきます。<br />ユーザーが本サービス利用に関わる行為により第三者のの名誉を毀損した場合、プライバシー権を侵害した場合、許諾なく第三者の個人情報を開示した場合、著作権法（昭和45年法律第48号）に違反する行為を行った場合、又はその他第三者の権利を侵害した場合には、当該ユーザーは自身の責任と費用におい当該事態を解決しなければならず、当社は一切の責任を負いません。
    </p>

    <h3>第１２条　禁止事項</h3>
    <p>
        ユーザーは、本サービスの利用にあたり、次に掲げる行為を行ってはならないものとします。禁止事項に違反した場合には、強制削除、利用停止、情報の全部もしくは一部の削除、又は公開範囲の変更等の不利益な措置を採ることがあります。<br />
    <br />
    ・第三者の著作権、商標権等の知的財産権を侵害する行為、又は侵害するおそれのある行為。<br />
    ・第三者の財産、プライバシーもしくは肖像権を侵害する行為、又は侵害するおそれのある行為。<br />
    ・第三者を不当に差別もしくは誹謗中傷し、他者への不当な差別を助長し、又はその名誉もしくは信用を毀損する行為。<br />
    自分以外の人物を名乗ったり、代表権や代理権がないにもかかわらずあるものと装ったり、又は他の人物や組織と提携、協力関係にあると偽って本サービスを利用する行為。<br />
    詐欺、規制薬物の濫用、児童売買春、預貯金口座及び携帯電話の違法な売買等の犯罪に結びつく、又は結びつくおそれのある行為。<br />
    わいせつ、児童ポルノ又は児童虐待に相当する情報（以下、本号において｢これらの情報｣といいます）について、次に掲げるいずれかの行為を行うこと。<br />
    (ア)これらの情報を投稿又は表示する行為。<br />
    (イ)これらの情報を収録した媒体を販売する行為。<br />
    (ウ)これらの情報を収録した媒体の、表示、販売を想起させる広告を投稿又は表示する行為。<br />
    　<br />
    性行為、わいせつな行為等を目的として利用する行為。<br />
    面識のない異性との出会い等を目的として利用する行為。<br />
    青少年の家出を誘引・助長する行為。<br />
    違法な賭博・ギャンブルを行わせ、又は違法な賭博・ギャンブルへの参加を勧誘する行為。<br />
    違法行為（けん銃等の譲渡、爆発物の製造、児童ポルノの提供、公文書偽造、殺人、脅迫等）を請け負い、仲介し、又は誘引する行為。<br />
    他人を自殺に誘引又は勧誘する行為。<br />
    次に掲げる情報を投稿し、又は表示する行為。<br />
    (ア)人の殺害、傷害現場を撮影した情報。<br />
    (イ)死体を撮影した情報。<br />
    (ウ)その他残虐な行為を撮影した情報。<br />
    次に掲げる内容の情報を投稿する行為。<br />
    (ア)人物や店舗を誹謗中傷する内容の情報。<br />
    (イ)氏名、住所、勤務先、電話番号等個人を特定しうる内容の情報。<br />
    (ウ)真否についての事実確認が困難な内容や虚偽の内容の情報。<br />
    (エ)衛生管理上の問題等のしかるべき公的機関へ届け出るべき事項に関する内容の情報。<br />
    (オ)人物や店舗とのトラブルまたはクレームに関する内容の情報。<br />
    (カ)その他当社又は第三者が不適切と判断する内容の情報。<br />
    次に掲げる内容の情報を投稿する行為。<br />
    (ア)商業用の広告、宣伝又は勧誘を目的とする情報。ただし、当社が別に認めたものを除く。<br />
    (イ)アフィリエイトのリンクを含む情報。<br />
    (ウ)無限連鎖講（ネズミ講）、チェーンメール、MLM、リードメール等他人を勧誘する内容の情報。<br />
    (エ)金融機関等の口座番号を含む情報。<br />
    (オ)アダルトサイト、ワンクリック詐欺サイト、ウィルス等の有害なコンピュータプログラム等を流布させることを目的とするサイト等当社が不適切と判断するサイトに誘導する情報（単にリンクを張る行為を含む。）。<br />
    (カ)グロテスクな画像等の他のユーザーが不快を感じる可能性が高いと当社が判断する情報。<br />
    (キ)その他当社が不適切と判断する情報。<br />
    自己または第三者の住所、電話番号、メールアドレス等の個人が特定される連絡先を、本サイト内のユーザー全体に公開される箇所に投稿する行為。<br />
    他のユーザーに対して、無差別にメッセージを送信する行為、又は全く面識のない人を無差別に招待する行為。<br />
    次に掲げるスパム行為を行うこと。<br />
    (ア)スパム投稿　一人又は複数のユーザーが、同一又は類似の文章を投稿する行為。<br />
    (イ)スパムワード　一人又は複数のユーザーが、本サイト内の投稿可能な箇所に、当該箇所と無関係若しくは関連性の希薄な語句を複数羅列し、又は著しく長い文章若しくは大量の語句を投稿する行為。<br />
    (ウ)スパムURL　一人又は複数のユーザーが、同一のURLを投稿する行為。<br />
    (エ)その他当社がスパムと判断する行為。<br />
    　<br />
    機能やツールの制限を逸脱して本サービスを利用する行為。ただし、当社が別に認めたものを除く。<br />
    第9条第2項により強制削除されたユーザーを招待する行為。<br />
    当社の設備に蓄積された情報を不正に書き換え、又は消去する行為。<br />
    ウィルス等の有害なコンピュータプログラム等を又は掲載する行為。<br />
    当社又は他者のサーバーに負担をかける行為、もしくは、本サービスの運営やネットワーク・システムに支障を与える行為、又はこれらのおそれのある行為。<br />
    その行為が前各号のいずれかに該当することを知りつつ、その行為を助長する目的でリンクを貼る行為。<br />
    法令、公序良俗又は本規約もしくはその他の利用規約等に違反し、又は他者の権利を侵害すると当社が判断する行為。<br />
    その他、当社が不適切と判断する行為。
    </p>

    <h3>第１３条　情報の使用許諾等</h3>
    <p>当社は、ユーザーが本サービスを利用することにより蓄積される情報を、本サービスの円滑な提供、当社システムの構築、改良、メンテナンスに必要な範囲内で、使用することができるものとします。<br />当社が前項に定める形で情報を使用するにあたっては、情報の一部又は氏名表示を省略することができるものとします。
    </p>

    <h3>第１４条　免責事項</h3>
    <p>
        当社は、本サービスの内容の追加、変更、又は本サービスの中断、終了によって生じたいかなる損害についても、一切責任を負いません。アクセス過多、その他予期せぬ要因で表示速度の低下や障害等が生じた場合も同様とします。<br />
        当社は、次に掲げる場合には、当該情報の内容を閲覧したり、保存したり、第三者に開示すること（以下、本項において「閲覧等」といいます）ができるものとします。<br />
        ・当該ユーザーが閲覧等に同意したとき。<br />
        ・本サービスの技術的不具合の原因を解明し、解消するため必要な場合。<br />
        ・裁判所や警察などの公的機関から、法令に基づく正式な照会を受けた場合。<br />
        ・本規約に違反する行為又はそのおそれのある行為が行われ、情報の内容を確認する必要が生じたと当社が判断した場合。<br />
        ・人の生命、身体及び財産などに差し迫った危険があり、緊急の必要性があると当社が判断した場合。<br />
        ・その他本サイトを適切に運営するために必要が生じた場合。<br />
        当社は、本規約又はその他の利用規約等に違反する行為又はそのおそれのある行為が行われたと信じるに足りる相当な理由があると判断した場合には、当該行為を行ったユーザーの登録解除、情報の全部もしくは一部の削除、及び公開範囲の変更等を行う場合がありますが、それによって生じたいかなる損害についても、一切責任を負いません。<br />
        本規約又はその他の利用規約等が消費者契約法（平成12年法律第61号）第2条第3項の消費者契約に該当する場合には、本規約及びその他の利用規約等のうち、当社の損害賠償責任を完全に免責する規定は適用されないものとします。この場合においてユーザーに発生した損害が当社の債務不履行又は不法行為に基づくときは、当社は、当該ユーザーが直接被った損害を上限として損害賠償責任を負います。ただし、当社に故意又は重過失がある場合に限ります。<br />

    </p>

    <h3>第１５条　削除・変更権限</h3>
    <p>
        当社は、次に掲げる場合には、情報の違法性・規約違反の有無に関わらず、関連する情報について、その全部もしくは一部の削除又は公開範囲の変更等の不利益な措置を行うことができるものとします。<br /><br />
        ・公的な機関又は専門家（国、地方公共団体、特定電気通信役務提供者の損害賠償責任の制限及び発信者情報の開示に関する法律のガイドラインに規定された信頼性確認団体、インターネット・ホットラインセンター、弁護士等をいいます）から、情報について、違法、公序良俗違反又は他人の権利を侵害する等の指摘・意見表明があった場合。<br />・権利者と称する者から、情報が自分の権利を侵害する旨の申告があった場合。ただし、権利者と称する者から、権利者であることを合理的に判断できる資料を提示され、当社にて慎重に検討した結果、権利者であると当社が判断した場合に限ります。
    </p>

    <h3>第１６条　本規約及びその他の利用規約等の有効性</h3>
    <p>
        本規約の規定の一部が法令に基づいて無効と判断されても、当該部分以外の本規約は引き続き有効とします。<br />
    本規約の全部又は一部があるユーザーとの関係で無効とされ、又は取消された場合でも、当社と当該ユーザー以外のユーザーとの関係では有効とします。
    </p>

    <h3>第１７条　準拠法及び管轄裁判所</h3>
    <p>
        弊社は、弊社の都合により、本サービスをいつでも任意の理由で追加、変更、中断、終了することができます。
    </p>



    <p>以上<br />
    附則<br />
    本最終更新日 2015年4月1日
    </p>
</section>